In [ ]:
import pandas as pd

## Import & Clean Data

In [5]:
date = '2025-08-13'
cur_sp_plus_df = pd.read_excel(f'data/sp+_{date}.xlsx')

In [ ]:
# data cleaning 
cur_sp_plus_df['TEAM'].str.split(' ')

0            [1., Ohio, St.]
1              [2., Alabama]
2              [3., Georgia]
3            [4., Penn, St.]
4                [5., Texas]
               ...
131    [132., Kennesaw, St.]
132        [133., Charlotte]
133        [134., Ball, St.]
134            [135., UMass]
135        [136., Kent, St.]
Name: TEAM, Length: 136, dtype: object